@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-inter: 'Inter', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensures the body spans the entire viewport height */
}
#root {
  height: 100%; /* Ensures React's root div spans full height */
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
.crypto-pattern {
    background-image: radial-gradient(circle at 2px 2px, rgba(163, 230, 53, 0.05) 1px, transparent 0);
    background-size: 24px 24px;
}
.glass-panel {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}
/* For horizontal scrolling */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}